.form {

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: .2rem;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    transition: all .3s;
    width: 90%;

    @include respond(tab-port) {
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }

    &:focus {
      border-bottom: .3rem solid $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      outline: none;
    }

    &:focus:invalid {
      border-bottom: .3rem solid $color-secondary-dark;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(-4rem);
    visibility: hidden;
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    transition: all .3s;
  }

  &__radio-group {
    display: inline-block;
    width: 49%;

    @include respond(tab-port) {
      margin-bottom: 2rem;
      width: 100%;
    }
  }

  &__radio-button {
    border: .5rem solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    height: 3rem;
    left: 0;
    position: absolute;
    top: -.4rem;
    width: 3rem;

    &::after {
      @include absCenter;
      background-color: $color-primary;
      border-radius: 50%;
      content: "";
      display: block;
      height: 1.3rem;
      opacity: 0;
      transition: all .1s;
      width: 1.3rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-label {
    cursor: pointer;
    font-size: $default-font-size;
    padding-left: 4.5rem;
    position: relative;
  }

}